.main-row {
    margin-top: 5%;

}

.profile-pic {
    max-width: 160px;
    max-height: 200px;
    filter: grayscale(100%);
    object-fit: contain;
}

img:hover {
    filter: grayscale(0%)
}

p {
    max-width: 60%;
    margin-top: 5%;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
}

